Django==3.0.7
pytz==2019.3
Pillow==7.0.0
gunicorn
whitenoise
sentry-sdk==0.14.2
requests==2.23.0
django-redis
psycopg2-binary==2.8.6
arrow==0.15.5
pytest==5.3.5
pytest-cov==2.8.1
pytest-django==3.8.0
Fabric3==1.14.post1
djangorestframework
django-environ
django-storages==1.9.1
django-cors-headers==3.2.1
django-braces==1.14.0
django-extensions==2.2.8
django-import-export==2.0.2
celery==4.4.1
boto3==1.12.16
